/*Navbar*/
	.navbar {
		background-color: none;
		color: gray;
		border-bottom: 1px solid gray;
	}

	.navbar:hover {
		border-bottom: 1px solid lightgreen;
	}

	.navbar .added {
		font-size: 24px;
		color: lightgreen;
		font-weight: 500;
		padding-right: 1em;
		line-height: 38px;
		animation-duration: 2s;
		display: none;
	}

/*Login Form*/
	.forgot-password {
		font-weight: 600;
		margin-left: 1em;
	}

	.forgot-password:hover {
		color: red;
	}


	/*span.navbar-toggler-icon {
		height: auto;
		color: gray;
	}*/

	/*button.navbar-toggler:focus {
		border: none;
	}

	button.navbar-toggler span{
		color: lightgreen;
	}*/

/*Card*/

	/*div.card, .card-header {
		background-color: transparent;
		color: gray;
		border: 1px solid lightgreen;
	}

	.card-header, .card-body label {
		font-size: 15px;
		font-weight: 600;
		letter-spacing: 3px;
		text-transform: uppercase;
	}

	div.card-header {
		font-size: 20px;
		color: lightgreen;
		background-color: rgba(100,100,100,0.3);
	}

	.card-body {
		background-color: rgba(10,10,10,0.5);
		border: 1px solid lightgreen;
	}

	.card a, .card .btn-link {
		color: gray;
		text-decoration: none;
	}

	.card .forgot-password:hover, .card .btn-link:hover {
		color: red;
		text-decoration: none;
	}

	.card-footer a:hover{
		color: lightgreen;
	}*/

/*Comming Soon*/
	.comming-soon, .comming-soon *, .comming-soon:hover, .comming-soon *:hover, .comming-soon:active, .comming-soon *:active, .comming-soon:focus, .comming-soon *:focus {
		color: orange !important;
		border-color: orange !important;
	}

	.more-comming {
		text-align: center;
		border-top: 1px solid;
	}