.navbar {
	background-color: none;
	color: gray;
	border-bottom: 1px solid gray;
}

.navbar a, .navbar-brand {
	color: gray;
}

.navbar:hover {
	border-bottom: 1px solid lightgreen;
}

.navbar a:hover {
	color: lightgreen;
}

span.navbar-toggler-icon {
	height: auto;
	color: gray;
}

button.navbar-toggler:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

button.navbar-toggler span{
	color: lightgreen;
}

button.collapsed * {
	color: gray !important;
}

div.card, .card-header {
	background-color: transparent;
	color: gray;
	border: 1px solid lightgreen;
}

.card-header, .card-body label {
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 3px;
	text-transform: uppercase;
}

div.card-header {
	font-size: 20px;
	color: lightgreen;
	background-color: rgba(100,100,100,0.3);
}

.card-body {
	background-color: rgba(10,10,10,0.5);
	border: 1px solid lightgreen;
}

.card input:focus, .card button:focus {
	outline: none;
	box-shadow: none;
}

.card a, .card .btn-link {
	color: gray;
	text-decoration: none;
}

.card .forgot-password:hover, .card .btn-link:hover {
	color: red;
	text-decoration: none;
}

.dashboard .card-body, .shopping .card-body{
	padding: 0px;
}

.dashboard .row {
	margin: 0px;
}

.dashboard a{
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: left;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}



.dashboard .left a:last-child, .dashboard .right a:last-child {
	border-bottom: 0px;
}

.dashboard .left a:first-child, .dashboard .right a:first-child {
	border-top: 0px;
}

.dashboard a:hover *{
	color: lightgreen;
}

.dashboard .left .title, .dashboard .left p, .dashboard .right a {
	text-align: right;
}

.dashboard .right .title, .dashboard .right p {
	text-align: left;
}

.dashboard .left a {
	border-right: 1px solid transparent;
}

.dashboard .right a {
	border-left: 1px solid transparent;
}

.dashboard a:hover {
	/*border-bottom: 1px solid lightgreen;*/
	border-color: lightgreen;
}

.shopping .item-container {
	align-content: center;
	text-align: center;
	padding: 1em;
	border: 1px solid transparent;
}

.shopping .item-container:hover, .shopping .item-container:hover * {
	border-color: lightgreen;	
	color: lightgreen;
}

.shopping .display-count {
	text-align: right;
	font-size: 14px;
	color: gray;
}

.shopping .display-count span{
	color: lightgreen;
	font-weight: 400;
}

.item .card-body {
	text-align: center;
	padding: 0px;
}

.item .title-container {
	border-bottom: 1px solid lightgreen;
}

.item .title {
	color: lightgreen;
}

.item .price {
	margin: auto;
	text-align: right;
}

.item .image-container {
	border-right: 1px solid lightgreen;
	padding: 1em;
}

.item .long-description {
	
	/*margin: 1em;*/
	/*margin-top: 0px;*/
	font-size: 20px;
	font-weight: 500;
	color: lightblue;
	
	text-align: left;
	background-color: rgba(10,10,10,.6);
	/*border: 1px solid lightgreen;
	border-radius: 5px;	*/
	/*border-top: 0px;*/
}

.item .long-description .title {
	font-weight: 500;
	color: black;
	letter-spacing: 2px;
	background-color: gray;
	padding-left: 1em;
	padding-right: 1em;
	border-bottom: 1px solid lightgreen;
}

.item .long-description p {
	padding: 1em;
}

.item .card-footer a {
	border-color: gray;
}

.item .card-footer a:hover {
	border-color: lightgreen;
}

.item .card-footer a:active, .item .card-footer button:active {
	color: gray;
	border-color: gray;
}

.cart .description {
	padding-left: 1em;
	height: 100%;
}

.cart .description:hover {
	color: lightgreen;
}

.cart .amount input {
	width: 100%;
	text-align: center;
	background-color: transparent;
	border: 2px solid gray;
	color: lightgray;
	border-radius: 3px;
	margin-bottom: 1em;
}

.cart .amount input:hover, .cart .amount input:active, .cart .amount input:focus {
	border-color: lightgreen;
}

.cart .amount .btn {
	width: 50%;
	color: gray;
	border-color: gray;
}

.cart .amount .btn:active {
	border-color: lightgreen !important;
	color: lightgreen;
}

.cart .amount .btn {
	border-color: gray !important;
}

.cart .amount .minus:active {
	border-color: red !important;
	color: red;
}

.cart .price {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	color: lightgreen;
}

.cart .card-body .row {
	margin-top: 1em;
}

.cart .card-footer .price, .cart .card-footer .total {
	font-size: 24px;
	color: lightgreen;
	font-weight: 600;
	text-align: right;
	padding-right: 1em;
	letter-spacing: 2px;
}

.cart .card-footer .btn {
	border-color: gray;
}

.cart .card-footer .btn:hover {
	border-color: lightgreen;
}