.navbar {
	background-color: none;
	color: gray;
	border-bottom: 1px solid gray;
}

.navbar a, .navbar-brand {
	color: gray;
}

.navbar:hover {
	border-bottom: 1px solid lightgreen;
}

.navbar a:hover {
	color: lightgreen;
}

span.navbar-toggler-icon {
	height: auto;
	color: gray;
}

button.navbar-toggler:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

button.navbar-toggler span{
	color: lightgreen;
}

button.collapsed * {
	color: gray !important;
}

div.card, .card-header {
	background-color: transparent;
	color: gray;
	border: 1px solid lightgreen;
}

.card-header, .card-body label {
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 3px;
	text-transform: uppercase;
}

div.card-header {
	font-size: 20px;
	color: lightgreen;
	background-color: rgba(100,100,100,0.3);
}

.card-body {
	background-color: rgba(10,10,10,0.5);
	border: 1px solid lightgreen;
}

.card input:focus, .card button:focus {
	border: 1px solid gray;
	outline: none;
	box-shadow: none;
}

.card .btn-primary {
	background-color: gray;
	border-color: gray;
	color: lightgreen;
	font-weight: 600;
}

.card .btn-primary:hover {
	background-color: lightgreen;
	border-color: lightgreen;
	color: gray;
}

.card a, .card .btn-link {
	color: gray;
	text-decoration: none;
}

.card .forgot-password:hover, .card .btn-link:hover {
	color: red;
	text-decoration: none;
}

.dashboard .card-body, .shopping .card-body{
	padding: 0px;
}

.dashboard .row {
	margin: 0px;
}

.dashboard a{
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: left;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}



.dashboard .left a:last-child, .dashboard .right a:last-child {
	border-bottom: 0px;
}

.dashboard .left a:first-child, .dashboard .right a:first-child {
	border-top: 0px;
}

.dashboard a:hover *{
	color: lightgreen;
}

.dashboard .left .title, .dashboard .left p, .dashboard .right a {
	text-align: right;
}

.dashboard .right .title, .dashboard .right p {
	text-align: left;
}

.dashboard .left a {
	border-right: 1px solid transparent;
}

.dashboard .right a {
	border-left: 1px solid transparent;
}

.dashboard a:hover {
	/*border-bottom: 1px solid lightgreen;*/
	border-color: lightgreen;
}

.shopping .item-container {
	align-content: center;
	text-align: center;
	padding: 1em;
	border: 1px solid transparent;
}

.shopping .item-container:hover, .shopping .item-container:hover * {
	border-color: lightgreen;	
	color: lightgreen;
}
