::-webkit-scrollbar {
    width: 0px;
    background: transparent;  make scrollbar transparent 
}

html, body {
	min-height: 100vh;
	max-height: 100vh;
	background-color: black;
	color: gray;
}

body {
	background-image: url(https://images.unsplash.com/photo-1522124624696-7ea32eb9592c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=decc4d1643fb3710366aa1346573ffc8&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    overflow: hidden;
}

a:active, a:focus, .btn:active, .btn:focus, button:active, button:focus, input, input:focus, select:focus, option:focus, textarea:focus, .form-control:focus {
	outline: none;
	box-shadow: none;
	/*border-color: red;*/
}

a, a:active, .btn, .btn:active, button, button:active, .form-control{
	color: gray;
	border-color: gray;
}

a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus, .form-control:focus {
	color: lightgreen;
	border-color: lightgreen;
}

a, a:hover, a:focus, a:active{
	text-decoration: none;
}

p {
	padding: 0px;
}

p:hover, p:focus, p:active {
	border-color: lightgreen;
}

.btn {
	background-color: transparent;
	border: 2px solid gray;
	font-weight: 600;
	letter-spacing: 1px;
}
	.btn-container {
		text-align: right;
	}

	.btn-red:hover {
		color: red;
		border-color: red;
	}

	/*.btn-gray {
		background-color: gray;
		border-color: gray;
	}

	.btn-gray:hover {
		background-color: lightgreen;
		border-color: lightgreen;
		color: gray;
	}*/

	/*.btn-gray:active {
		background-color: gray;
		border-color: lightgreen;
		color: lightgreen;
	}*/

	.btn-large {
		font-size: 32px;
		line-height: 1;

	}

	.btn-link-red{
		background-color: transparent;
		color: gray;
		border: 0px;
	}

	.btn-link-red:hover {
		color: red;
	}

	button.collapsed * {
		color: gray;
	}

.dropdown-menu {
	color: lightgreen;
	background-color: rgba(0,0,0,0.7);
}
	
	.dropdown-item {
		color: lightgreen;
	}

	.dropdown-item:hover {
		color: lightgreen;
		background-color: transparent;
	}

.title {
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;	
}

.infotip {
	display: inline-block;
}

	.infotip .infotip-text {
		margin-left: 5px;
		visibility: hidden;
		width: 300px;
	    background-color: rgba(0,0,0,0.8);
	    color: #e600e6;
	    text-align: center;
	    border-radius: 6px;
	    padding: 5px;
	    font-size: 18px;
	    text-transform: initial;
	    font-family: Nunito,sans-serif;
	    font-weight: 200;

	    /* Position the tooltip */
	    position: absolute;
	    z-index: 1;
	}

	.infotip:hover .infotip-text {
		visibility: visible;
	}

.error {
	font-size: 24px;
	font-weight: 500; 
	color: red;
	text-align: center;
}

.hidden {
	display: none;
}

.visible {

}

/*Forms*/
form {}
	
	input, option, select, textarea {
		background-color: transparent;
		color: lightgreen;
		border: 2px solid gray;
		border-radius: 3px;
	}

	input:hover, input:focus, option:hover, option:focus, select:hover, select:focus, textarea:hover, textarea:focus {
		border-color: lightgreen;
	}

	textarea {
		/*padding: .5em;*/
		max-height: 40vh;
		resize: none;
		font-size: 20px;
		width: 100%;
		border: 0px;
	}

	.form-control {
		background-color: transparent;
		/*transition: none;*/
	}

	.form-control:active, .form-control:focus {
		background-color: transparent;
	}

	.form-group {
		margin: 0px;
	}

/*Card*/

.card-header, .card-footer {
	background-color: rgba(100,100,100,0.3);
	border-color: lightgreen;
}

.card {
	background-color: transparent;
	color: gray;
	border: 1px solid lightgreen;
}

	.card-header{
		line-height: 42px;
	}

		.card-header .title{
			color: lightgreen;
			font-size: 30px;
		}

		.card-header .display-count {
			text-align: right;
			font-size: 16px;						
		}

			.card-header .display-count span{
				color: lightgreen;
				font-weight: 600;
			}

		.card-header input {
			width: 80%;
			padding-left: 10px;
		}

	.card-body {
		padding: 0px;
		background-color: rgba(10,10,10,0.5);
		min-height: 55vh;
		max-height: 55vh;
		overflow: scroll;
		overflow-x: hidden;
	}

		.card-body > .row > * {
			padding: 20px;
		}

	.card-footer {
		line-height: 42px;
	}

		.card-footer .btn {
			background-color: rgba(10,10,10,0.5);
			/*background-color: gray;
			color: lightgreen;
			border-color: gray;*/
		}

		.card-footer .btn:hover {
			background-color: lightgreen;
			color: gray;
			border-color: lightgreen;
		}

		.card-footer .btn-red:hover {
			background-color: red;
			color: gray;
			border-color: red;
		}



/*.card-header a.btn{
	color: gray;
	border-color: gray;
}

.card-header a.btn:hover{
	color: lightgreen;
	border-color: lightgreen;
}*/

/*.card-footer {
	text-align: center;
	border-color: lightgreen;
	border: 1px solid lightgreen;
	line-height: 24px;
	background-color: rgba(100,100,100,0.3);
}

.card-footer .page-numbers {
	font-size: 24px;
}

.card-footer .page-numbers span{
	font-weight: 600;
	color: lightgreen;
}*/










/*


	
.error {
	font-size: 24px;
	color: red;
	font-weight: 500;
}

.hidden {
	display: none;
	visibility: hidden;
}

.title-gray, .title-lightgreen, .title {
	font-size: 30px;
	font-weight: 600;
}

.title-gray {	
	color: gray;
}

.title-lightgreen {
	color: lightgreen;
}

p {
	margin: 0px;
}

img {
	width: 100%;
	height: auto;
}

.card-body {
	position:relative;
	
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;  make scrollbar transparent 
}*/

