html {
	min-height: 100vh;
	max-height: 100vh;
	background-color: black;
}


body {
	background-color: black;
	background-image: url(https://images.unsplash.com/photo-1522124624696-7ea32eb9592c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=decc4d1643fb3710366aa1346573ffc8&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.btn {
	background-color: rgba(10,10,10,.6);
	color: lightgreen;
	border: 2px solid lightgreen;
	font-weight: 600;
	letter-spacing: 1px;
	outline: none;
}

.btn:focus, .btn:active {
	outline: none;
	box-shadow: none;
}

.btn-gray {
	background-color: gray;
	border-color: gray;
}

.btn-gray:hover {
	background-color: lightgreen;
	border-color: lightgreen;
	color: gray;
}

.btn-gray:active {
	background-color: gray;
	border-color: lightgreen;
	color: lightgreen;
}

/*.btn:focus, .btn-primary:focus, button:focus, button.btn:focus {
	border: 2px solid lightgreen;
	color: lightgreen;
	outline: none;
	box-shadow: none;
	background-color: red;
}
.btn:active, .btn-primary:active, button:active, button.btn:active {
	border: 2px solid gray !important;
	color: lightgreen !important;
	outline: none !important;
	box-shadow: none !important;
	background-color: gray !important;
}*/

.error {
	font-size: 24px;
	color: red;
	font-weight: 500;
}

.title-gray, .title-lightgreen, .title {
	font-size: 30px;
	font-weight: 600;
}

.title-gray {	
	color: gray;
}

.title-lightgreen {
	color: lightgreen;
}

a:hover{
	color: lightgreen;
}

p {
	margin: 0px;
}

img {
	width: 100%;
	height: auto;
}

.card-body {
	position:relative;
	max-height: 55vh;
	overflow: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.card-header {
	
}

.card-footer {
	text-align: center;
	border-color: lightgreen;
	border: 1px solid lightgreen;
	line-height: 24px;
	background-color: rgba(100,100,100,0.3);
}

.card-footer .page-numbers {
	font-size: 24px;
}

.card-footer .page-numbers span{
	font-weight: 600;
	color: lightgreen;
}

.red-link {
	border: 0px solid transparent;
	color: gray;
	background-color: transparent;
}

.red-link:hover{
	color: red;
}

.red-link:focus, .red-link:active {
	border: 0px;
	color: gray;
}

.item-container {
	align-content: center;
	text-align: center;
	padding: 1em;
	border: 1px solid transparent;
}

.item-container:hover, .item-container:hover * {
	border-color: lightgreen;	
	color: lightgreen;
}