html {
	height: 100%;
	background-color: black;
}


body {
	background-color: black;
	background-image: url(https://images.unsplash.com/photo-1522124624696-7ea32eb9592c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=decc4d1643fb3710366aa1346573ffc8&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
}