#welcome {}

	#welcome .title {
		margin-top: 50px;
		font-size: 100px;
		font-weight: 100;
		text-align: center;
		color: lightgreen;
		text-transform: uppercase;
	}

/*Dashboard*/

#dashboard {}

	#dashboard .card-body .row > * {
		padding: 0px;
	}

	#dashboard a {
		padding: 1em;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
	}

	#dashboard .left a {
		border-right: 1px solid transparent;
	}

	#dashboard .right a {
		border-left: 1px solid transparent;
	}

	#dashboard a:hover{
		border-color: lightgreen;
	}

	#dashboard .left a:last-child, #dashboard .right a:last-child {
		border-bottom: 0px;
	}

	#dashboard .left a:first-child, #dashboard .right a:first-child {
		border-top: 0px;
	}

	#dashboard .left .title, #dashboard .left p, #dashboard .right a {
		text-align: right;
	}

	#dashboard .right .title, #dashboard .right p {
		text-align: left;
	}

	#dashboard .icon {
		text-align: center;
	}

/*Shopping*/
#shopping {}

	#shopping .card-header .price {
		text-align: right;
	}

	#index #shopping .card-body{
		padding: 3px;
		padding-top: 0px;
	}

		#shopping .results {}

			#shopping .results-container {
				margin-top: 3px;
				border: 1px solid;
				border-radius: 3px;
				padding-left: 0px;
				padding-right: 0px;
				width: 100%;
			}

				#shopping .results-container > .title {
					padding-left: 8px;
					padding-right: 8px;
					line-height: 37px;
				}

					#shopping .results-container > .title a {
						margin-bottom: 1px;
					}

				#shopping .results-container .item-display {
					/*padding: 3px;*/
				}

			#shopping .lightblue-results {
				border-color: lightblue;
				/*opacity: 0.5;*/
			}

				#shopping .lightblue-results > .title {
					background-color: lightblue;
				}

					#shopping .lightblue-results > .title .btn:hover {
						background-color: gray;
						border-color: lightblue;
						color: lightblue;
					}

				#shopping .lightblue-results .item-container {
					border-top: 0px;
					border-bottom: 0px;
					background-color: white;
				}

				#shopping .lightblue-results .item-container:hover, #shopping .lightblue-results .item-container:focus {
					color: lightblue;
					border-color: lightblue;
				}

			#shopping .lightgreen-results {
				border-color: lightgreen;
			}

				#shopping .lightgreen-results > .title {
					background-color: lightgreen;
				}

					#shopping .lightgreen-results > .title .btn:hover {
						background-color: gray;
					}

	
	#shopping .card-footer{
		text-align: center;
	}

/*Description*/
#description {}

	#description .card-body {
		text-align: center;
	}

	#description .image-container {
		border-right: 1px solid lightgreen;
		/*padding: 1em;*/
		min-height: 55vh;
		max-height: 55vh;
	}
		#description .image-container .helper{
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		#description .image-container img{			
			display: inline-block;
			vertical-align: middle;
		}

	#description .long-description {		
		font-size: 20px;
		font-weight: 500;
		color: lightblue;		
		text-align: left;
		background-color: rgba(10,10,10,.6);
		min-height: 55vh;
		max-height: 55vh;
	}

		#description .long-description span {
			font-size: 28px;
			font-weight: 500;
			color: purple;
		}

		/*#description .long-description p {
			padding: 1em;
		}*/

/*Auth*/
	#auth form {
		/*height: 100%;*/
		/*margin-top: 3em;*/
	}

	#auth #verify .card-body {
		color: lightblue;
	}

		#auth #verify .card-body a {
			color: lightblue;
		}

		#auth #verify .card-body a:hover {
			color: lightgreen;
		}

/*CMS*/

	#developer .card-header label {
		font-size: 30px;
		font-weight: 500;
		color: lightgreen;
	}

	#developer .card-header input {
		font-size: 30px;
	}

	#developer .image-container img {
		height: 80%;
		width: auto;
		margin: auto;
	}

	#developer .image-container input {
		margin-top: 1em;
		width: 100%;
		vertical-align: bottom;
	}

	#developer .image-container label {
		font-size: 20px;
		font-weight: 500;
		color: lightblue;
		width: 100%;
		text-align: left;
	}

	#developer .image-container textarea {
		width: 100%;
		height: 100%;
	}

	#developer .long-description p {
		border: 2px solid gray;
		border-radius: 3px;
		min-height: 40vh;
		max-height: 40vh;
		padding: .5em;
	}

	#developer .long-description p:hover {
		border-color: lightgreen;
	}

	#developer .long-description .active {
		color: lightblue
	}

	#developer .long-description .not-active {
		color: gray;
	}

	#developer .long-description .not-active:hover {
		color: lightgreen;
	}

	#developer .long-description .where input {
		width: 100%;
	}


/*Index*/
	#index .card-body > .row > * {
		padding-left: 5px;
		padding-right: 5px;
	}
	
	#index .item-container {
		align-content: center;
		text-align: center;		
		border: 1px solid transparent;
	}

	#index .item-container:hover, #index .item-container:hover * {
		border-color: lightgreen;	
	}

	

/*Activation*/
#activation {}

	#activation .card-body {
		overflow: hidden;
	}

		#activation .card-body .btn {
			width: 100%;
		}

	#activation .active, #activation .not-active {
		min-height: 55vh;
		height: 0px;
		padding: 0px;
		overflow-y: scroll;
	}

		#activation .active .row, #activation .not-active .row {
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 5px;
			padding-top: 5px;
			line-height: 38px;
		}

		#activation .table-header {
			background-color: lightgreen;

		}

	#activation .not-active {
		border-left: 1px solid lightgreen;
	}

	#activation .activate:before {
		content: "Add";
	}

	#activation .deactivate:before {
		content: "Remove";
	}

	#activation .deactivate:hover {
		color: red;
		border-color: red;
	}
	
	#enrollment .activate:before {
		content: "Passed";
	}

	#enrollment .deactivate:before {
		content: "Failed";
	}


/*Cart*/
#cart {}

	#cart .description .title {
		margin-top: 16px;
	}

	#cart .amount input {
		width: 100%;
		text-align: center;
		border-radius: 3px;
		margin-bottom: 5px;
	}

		#cart .amount .btn {
			width: 50%;
		}

	#cart .price {
		text-align: center;
		font-size: 24px;
		font-weight: 600;
		color: lightgreen;
	}

	#cart .remove-all {
		text-align: center;
	}
	
/*Positions*/
#positions {}

	#index #positions .card-body > .row {
		text-align: center;
		padding-top: 10px;
		line-height: 36px;
	}

	#index #positions .card-body > .row > * {
		padding: 0px;
	}

	#index #positions .btn-link-red {
		font-size: 16px;
	}




	

	

	