@media only screen and (max-width: 768px){
	body{
		background-size: auto;
	}
	#welcome-font{
		font-size: 50px;
	}
	.dashboard .left .title, .dashboard .left p{
		text-align: left;
	}
	.hidden-sm-down{
		display: none;
	}

}